/* Reseteo de estilo para uniformidad */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fddad1;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Banner principal */
.banner {
    background: linear-gradient(to right, #e25959, #f3ca4e);
    color: #C70039;
    padding: 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-style: solid;
    position: relative;
    overflow: hidden;
}

/* Canvas de efectos */
.sky canvas {
    z-index: 1;
    /* Canvas en el fondo */
    pointer-events: none;
    /* Hace que el canvas no interfiera con los clicks */
}

/* Título y contenido del banner */
.banner-title,
.navbar {
    position: relative;
    z-index: 2;
    /* Contenido del banner encima de la nieve */
}

.banner-title {
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    filter: drop-shadow(0px 0px 2px white);
}


/* Estilos para los botones */
.btn {
    width: 100px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Botón STORE*/
.btn[href="/"] {
    background-color: #f3ca4e;
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Botón ADMIN (oculto por defecto) */
.btn[href="/login"] {
    background-color: #ff5733;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
}

/* ADMIN aparece al pasar el mouse por la navbar */
.container-fluid:hover .btn[href="/login"] {
    opacity: 1;
    visibility: visible;
}

/* Efecto hover para ambos botones */
.btn:hover {
    filter: brightness(1.2);
}


/* Contenedor principal */
.container {
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Título principal */
.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}

/* Grid de productos */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    /* padding-bottom: 10px; */
}

/* Tarjeta de producto */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 0px 1px black);
    transition: transform 0.2s;
    background-color: #fff;
    border-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    transform: scale(1.05);
}

/* Imagen de producto */
.card-img {
    width: 100%;
    object-fit: contain;
    padding: 10px;
}

/* Contenido de la tarjeta */
.card-content {
    padding: 5px;
    text-align: center;
}

.card-title {
    font-size: 1.5em;
    /* margin-bottom: 10px; */
    /* color: #333; */
}

.card-stock {
    font-size: 1em;
    margin-bottom: 5px;
    color: #777;
}

.login-card {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    margin-top: 100%;
}

.table-responsive {
    width: 100%;
}

.inputtext {
    width: 150px;
}

.inputn {
    width: 80px;
}

.btnadmin {
    width: 90px;
}

.logowsp img {
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 20px;
    transition: transform 0.3s ease;
}

.logowsp img:hover {
    transform: scale(1.2);
}

#btndatos {
    background-color: #4CAF50;
    /* Color de fondo */
    border: none;
    /* Sin borde */
    color: white;
    /* Color del texto */
    padding: 15px;
    /* Relleno interno */
    text-align: center;
    /* Alineación del texto */
    text-decoration: none;
    /* Sin subrayado */
    position: fixed;
    /* Mostrar en línea */
    bottom: 0px;
    right: 80px;
    font-size: 16px;
    /* Tamaño de la fuente */
    margin: 10px 2px;
    /* Márgenes */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    border-radius: 50px;
    /* Esquinas redondeadas */
    transition: background-color 0.3s, transform 0.3s;
    /* Transiciones para un efecto suave */
}

/* Efecto al pasar el ratón (hover) */
#btndatos:hover {
    background-color: #45a049;
    /* Color de fondo en hover */
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño en hover */
}

/* Estilo activo cuando se presiona el botón */
#btndatos:active {
    background-color: #3e8e41;
    /* Color de fondo cuando se hace clic */
    transform: scale(0.98);
    /* Disminuye ligeramente el tamaño en clic */
}